.navbar {
    padding-top: 0.5rem;
    padding-right: 29rem;
    padding-bottom: 0.5rem;
    padding-left: 29rem;
}


.container-fluid {
    margin-top: -25px;
}

.vid {
    margin-top: 50px;
    height: 150px;
    margin-inline-start: 65px;
}

.col-md-4 {
    height: 150px;
}

.jumbotron {
    background-image: url(./bootstrap.png);
    background-size: cover;
    background-repeat: no-repeat;
}


col-mid-4 button{
    margin-top: 20px;
}



.vid-buttons {
    padding-top: 10;
    padding-left: 70;
    
}
.vid-buttons p{
    padding-top: 10;
    padding-right: 20;
}





.footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
